# General
PORT="8000"
BASE_URL="http://localhost:$PORT"

# PostgreSQL
DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"

# Frontend
FRONTEND_URL="http://localhost:3000"

# Auth
JWT_SECRET=
